doctype
html(lang='en')
	head
		meta(name='robots', content='noindex')
		meta(charset='utf-8')
		link(href='https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.2.10/semantic.min.css', rel='stylesheet')
		title Home
	body
		#app
		script(src='bundle.js', charset='utf-8')
				
